// 提供scss全局变量
$color: rgb(92, 51, 58);

// 左侧菜单的背景颜色
$base-menu-background: #001529;
// 左侧菜单栏的宽度
$base-menu-width: 260px;
// 顶部导航栏的高度
$base-menu-height: 50px;

// 左侧菜单栏的logo高度
$base-menu-logo-height: 50px;
// 左侧菜单栏logo旁边的标题的大小
$base-menu-logo-title-fontSize: 20px
